#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.primary-btn{
  background-color: var(--primary-color);
  color: #fff;
}

.Mui-selected {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.chat-history-wrap{
  max-height: calc(100vh - 133px);
  overflow-y: auto;
}
.chat-history-wrap .chat-bubble{
  margin-bottom: 15px;
  max-width: 85%;
}
.chat-history-wrap .chat-content{
  padding: 10px;
  background-color: #aaa6a6;
  border-radius: 6px;
}
.chat-history-wrap .user{
  margin-left: auto;
}
.chat-history-wrap .user .chat-content{
  background-color: var(--primary-color);
  color: #fff;

}
.chat-history-wrap .chat-bubble .chat-date{
  font-size: 10px;
}